:root {
  --primary-white-color: #fff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accant-color: #2196f3;
  --portfolio-btn-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}
.hidden {
  display: none;
}
.link {
  text-decoration: none;
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;

  color: #000;
}

/* page-header */
.nav-list .link,
.contacts-list .link {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.contacts-list .link {
  color: var(--primary-text-color);
}

.link:hover,
.link:focus,
.nav .current,
.accent {
  color: var(--accant-color);
}

/* hero */
.hero,
.footer {
  background-color: #2f303a;
}

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.button {
  cursor: pointer;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accant-color);
}

/* section */
.section .title {
  color: var(--title-text-color);
}

.section .section-title {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;

  color: var(--title-text-color);
}

/* features */
.features-list .title {
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
}

/* team */
.team {
  background-color: #f5f4fa;
}

.team-list .title,
.team-list .text {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}

/* footer */
.footer .link {
  font-style: normal;
  color: var(--title-text-color);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accant-color);
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
}

.footer .logo,
.address .link,
.address .link:hover,
.address .link.footer {
  color: var(--primary-white-color);
}

/*page-portfolio */
.portfolio-button {
  cursor: pointer;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  color: var(--title-text-color);
  background-color: var(--portfolio-btn-color);
}

.active:hover,
.active:focus {
  color: var(--primary-white-color);
  background-color: var(--accant-color);
}

.page-portfolio .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.page-portfolio .text {
  font-size: 16px;
  line-height: 1.875;
}
